<div class="row white-bg" style="margin-top: 7px;">
					
</div>
<div class="row" style="background-color: #ffffff; color: #000000">
	<div class="pull-left">up</div>
	<div class="pull-right" style="font-size: 18px;">TODAY'S JOBS</div>
</div>

<div class="row green-bg" style="margin-top: 7px;">
	
</div>

<div class="row" style="background-color: #27b999;">
	<div class="pull-left">up</div>
	<div class="pull-right" style="font-size: 18px;">TODAY'S JOBS</div>
</div>