
<h2 class="form-signin-heading" style="color: #000;">Sign in</h2>
  <%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.text_field :email, class: 'form-control', placeholder: 'Email Address' %><br>

		<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %><br>

  	<%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
<br>
<% if Admin.count==0 %>
	<%= link_to 'Sing up', new_admin_path %>	
<% end %>