<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">Job Notes</div>
</div><br>

<div class="row row-content">
	<div class="col-xs-12">
		<div class="form-group">
			<%= f.label :note, class: 'control-label' %>
			<%= f.text_area :note, class: 'form-control' %>
		</div>

		<div class='form-group'>
			<%= f.check_box :notify, as: :boolean, checked_value: true, unchecked_value: false %> Notify Contacts
		</div>
	</div>
</div>