<tr>
	<td><%= tech.first_name %></td>
	<td><%= tech.last_name %></td>
	<td><%= tech.city %></td>
	<td><%= tech.contact %></td>
	<td><%=  %></td>
	<td></td>
	<td></td>
	<td>
		<%= link_to(edit_tech_path(tech)) do %>
			<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
	</td>
</tr>