<div id="tech" class="row row-content">
	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :first_name, 'First Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :first_name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :last_name, 'Last Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :last_name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :contact, 'Contact', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :contact, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :city, 'City', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :city, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :photo, 'Photo', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.file_field :photo, class: 'form-control' %>
		    </div>
		</div><br>

		<div class="form-group">
          <%= f.label :start_date, 'Start Date', class: 'control-label col-xs-3' %>
          <div class="col-lg-8">
            <%= f.date_field :start_date, class: 'form-control' %>
          </div>
        </div>

	</div>

	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :address, 'Address', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_area :address, rows: 8, cols: 100,  class: 'form-control' %>
		    </div>
		</div><br>
		
	</div>
</div>