<%= form_for(@tech, class: 'form-horizontal') do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row row-content" style="padding-bottom: 7px;">
		<div class="col-xs-2">
			<%= image_tag(@tech.photo) %>
		</div>
		<div class="col-xs-2">
			<h4>Start Date</h4>
			<%= f.date_field :start_date, class: 'start_date' %>
		</div>
	</div>
	<div class="row lg-bg-white">
		<br>
			<%= render 'tech_field', f: f %>

			<%= f.fields_for :user do |l| %>
			  	<%= l.hidden_field :tech_id, value: @tech.id %>
				<%= l.hidden_field :role, value: 'tech' %>
			  	<%= render 'shared/user_field', f: l %>
			<% end %>
		  	<div style="margin-left: 10px;"><%= f.submit "Save", class: "btn lg-button" %></div>
		
		<br>
	</div>
<% end %> 	