<div class="row row-content" style="padding-bottom: 7px;">
	<div class="pull-right">
		<%= link_to 'Add Tech', new_tech_path, class: 'btn lg-button' %>
	</div>
</div>
<div class="row lg-bg-white">
	<table class="table">
		<tr>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
			<th>CITY</th>
			<th>CONTACT</th>
			<th>EMAIL</th>
			<th>LAST 30 DAYS</th>
			<th>OPEN JOBS</th>
			<th>ACTION</th>
		</tr>
		<%= render @teches %>
	</table>


</div>