<div class="row lg-bg-white">
	<br>
	<%= form_for(@tech, class: 'form-horizontal') do |f| %>
	  	<%= render 'shared/error_messages', object: f.object %>

		<%= render 'tech_field', f: f %>

		<%= f.fields_for :user do |l| %>
		  	<%= l.hidden_field :tech_id, value: @tech.id %>
			<%= l.hidden_field :role, value: 'tech' %>
		  	<%= render 'shared/user_field', f: l %>
		<% end %>
	  	<div style="margin-left: 10px;"><%= f.submit "Save", class: "btn lg-button" %></div>
	<% end %> 	
	<br>
</div>