<div class="row row-content" style="color: #000;">
	<%= f.hidden_field :job_id, value: @job.id %>
	<div class='w-26'>
		<div class='form-group2'>
			<%= f.label :attach_type, 'Type', class: 'control-label col-xs-2' %>
			<div class="col-xs-9">
				<%= f.select :attach_type, options_for_select(["Documents","Images", "Signed Work Ticket"]), {}, { :class => 'form-control' } %>
			</div>
		</div>
	</div>

	<div class='w-26'>
		<div class='form-group'>
			<%= f.label :document, 'Document', class: 'control-label col-xs-3' %>
			<div class="col-xs-8">
				<%= f.file_field :document, class: 'form-control' %>
			</div>
			
		</div>
	</div>

	<div class='w-26'>
		<div class='form-group'>
			<%= f.label :description, 'DESCRIPTION', class: 'control-label col-xs-4' %>
			<div class="col-xs-7">
				<%= f.text_field :description, class: 'form-control' %>
			</div>
			
		</div>
	</div>

	<div class='w-10'>
		<div class='form-group'>
			<%= f.check_box :admin_only, as: :boolean, checked_value: true, unchecked_value: false %> admin only
		</div>
	</div>

	<div class="w-10">
		<%= f.submit 'Upload', class: 'btn sm-button' %>
	</div>
	
</div>