<div class="row row-content" style="color: #000;">
		<div class='form-group'>
		    <%= f.label :first_name, 'First Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :first_name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :last_name, 'Last Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :last_name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :contact, 'Contact', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :contact, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :city, 'City', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :city, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :photo, 'Photo', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.file_field :photo, class: 'form-control' %>
		    </div>
		</div><br>


<!-- User form -->
		<%= f.fields_for :user do |u| %>
		  	<%= u.hidden_field :admin_id, value: @admin.id %>
			<%= u.hidden_field :role, value: 'admin' %>
		  	<div class='form-group'>
			    <%= u.label :email, class: 'control-label col-xs-3' %>
			    <div class="col-xs-8">
			    	<%= u.text_field :email, class: 'form-control' %>
			    </div>
			</div><br>

			<div class='form-group'>
			    <%= u.label :password, class: 'control-label col-xs-3' %>
			    <div class="col-xs-8">
			    	<%= u.password_field :password, class: 'form-control' %>
			    </div>
			</div><br>

			<div class='form-group'>
			    <%= u.label :password_confirmation, 'Confirm', class: 'control-label col-xs-3' %>
			    <div class="col-xs-8">
			    	<%= u.password_field :password_confirmation, class: 'form-control' %>
			    </div>
			</div><br>
		<% end %>
<!-- User form -->

		<div class='form-group'>
		    <%= f.label :address, 'Address', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_area :address, rows: 8, cols: 100,  class: 'form-control' %>
		    </div>
		</div><br>
</div>