<%= form_for(@admin, class: 'form-horizontal') do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>

	<%= render 'admin_field', f: f %>
	<br>
  	<%= f.submit "Save", class: "btn btn-lg btn-primary btn-block" %></div>
<% end %> 