<tr>
	<td><%= job.client.created_at.strftime("%m/%d/%Y") %></td>	
	<td><%= render job.client.site_contacts.first %></td>
	<td><%= job.client.city %></td>
	<td><%= job.client.name %></td>
	<td><%= render job.client.client_reps.first %></td>
	<td></td>
	<td></td>
	<td></td>
	<td><%= job.status %></td>
	<td>
		<%= link_to(edit_job_path(job)) do %>
			<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
	</td>
</tr>


