<ul class="nav nav-tabs" id="nav-tab" style="font-size: 16px;">
    <li class="job-tab active"><a href="#job" data-toggle="tab">JOB #: <%= @job.id %> </a></li>
    <li class="job-tab">
      <a href="#document" data-toggle="tab">DOCUMENTS
     
          <% @attaches.each do |attach| %>
            <% if attach.attach_type == 'Documents' %>
              [<%= @job.attaches.count %> items]
            <% end %>
          <% end %>
      </a>
    </li>
    <li class="job-tab"><a href="#image" data-toggle="tab">IMAGES [2 items]
      
    </a></li>
    <li class="job-tab"><a href="#signed" data-toggle="tab">SIGNED WORD TICKET [NONE]</a></li>
</ul>

<div class="tab-content tab-bg">
  <br>
  <div class="tab-pane active" id="job">
    
    <div class="row row-content" style="background-color: #27b999;">
      <div class="form-group col-xs-7" style="padding-left: 15px; padding-top: 20px; padding-bottom: 10px;">
          <label for="orginalPrice" class="control-label col-xs-2">Action</label>
          <div class="col-xs-8">
              <input type="text" class="form-control" id="orginalPrice">
          </div>
      </div>
    </div>
    
    <%= form_for(@client, class: 'form-horizontal') do |f| %>
      <%= render(partial: 'clients/client_field', locals: {f: f}) %>

      <%= f.fields_for :locations do |l| %>
        <%= render 'clients/location_field', f: l %>
      <% end %>

      <%= f.fields_for :site_contacts do |s| %>
        <%= render 'clients/site_contact_field', f: s %>
      <% end %>

      <%= f.fields_for :client_reps do |r| %>
        <%= render 'clients/client_rep_field', f: r %>
      <% end %>

      <div style="margin-left: 10px;"><%= f.submit "Add Contact", class: "btn lg-button" %></div>
    <% end %>  
    <br>
    
    <%= form_for(@job, class: 'form_horizontal') do |j| %>
      <%= j.fields_for :sale_order do |so| %>
        <%= render(partial: 'sale_orders/sale_order_field', locals: {j: so}) %>
      <% end %>
    <% end %>
    <br>
    <!-- attach form -->
    <%= form_for(@attach, :html => {:multipart => true}, class: 'form_horizontal') do |f| %>
      <%= render 'attaches/attach_field', f: f %>
      
    <% end %>
    
<div class="separetor"></div>
    <!-- Schedule form -->
    <%= form_for(@tech_job, class: 'form_horizontal') do |f| %>
      <%= render 'tech_jobs/tech_job_field', f: f %>
    <% end %>

    <div class="separetor"></div>

    <%= form_for(@note, class: 'form_horizontal') do |f| %>
      <%= render 'notes/note_field', f: f %>
    <% end %>
  </div>

  <div class="tab-pane" id="document">
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>DOWNLOAD</th>
      </tr>
      <% @attaches.each do |attach| %>
        <% if attach.attach_type == 'Documents' %>
          <tr>
            <td><%= attach.document %></td>
            <td><%= attach.description %></td>
            <td>
              <%= link_to 'Download', attach.document_url %> | 
              <%= link_to 'Delete', attach, method: :delete, confirm: 'Are you sure that you want to delete #{attach.name}' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="tab-pane" id="image">
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>DOWNLOAD</th>
      </tr>
      <% @attaches.each do |attach| %>
        <% if attach.attach_type == 'Images' %>
          <tr>
            <td><%= attach.document %></td>
            <td><%= attach.description %></td>
            <td>
              <%= link_to 'Download', attach.document_url %> | 
              <%= link_to 'Delete', attach, method: :delete, confirm: 'Are you sure that you want to delete #{attach.name}' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="signed">
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>DOWNLOAD</th>
      </tr>
      <% @attaches.each do |attach| %>
        <% if attach.attach_type == 'Signed Work Ticket' %>
          <tr>
            <td><%= attach.document %></td>
            <td><%= attach.description %></td>
            <td>
              <%= link_to 'Download', attach.document_url %> | 
              <%= link_to 'Delete', attach, method: :delete, confirm: 'Are you sure that you want to delete #{attach.name}' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>