<div class="row row-content" style="padding-bottom: 7px;">
	<div class="pull-right">
		<%= link_to 'Add Job', new_job_path, class: 'btn lg-button' %>
	</div>
</div>
<div class="row lg-bg-white">
	<table class="table">
		<tr>
			<th>Date</th>
			<th>SITE</th>
			<th>CITY/STATE</th>
			<th>CLIENT</th>
			<th>REP</th>
			<th>CONTACT</th>
			<th>TECH</th>
			<th>SO #</th>
			<th>STATUS</th>
			<th>Add Job Details</th>
		</tr>
		<%= render @jobs %>
	</table>
</div>