<ul class="nav nav-tabs" id="nav-tab" style="font-size: 20px;">
    <li class="job-tab active"><a href="#job" data-toggle="tab">JOB #: <p style="font-size: 15px;">&nbsp;</p></a></li>
    <li class="job-tab"><a href="#document" data-toggle="tab">DOCUMENTS<p style="font-size: 15px;">[NONE]</p></a></li>
    <li class="job-tab"><a href="#image" data-toggle="tab">IMAGES <p style="font-size: 15px;">[NONE]</p></a></li>
    <li class="job-tab"><a href="#signed" data-toggle="tab">SIGNED WORD TICKET <p style="font-size: 15px;">[NONE]</p></a></li>
</ul>

<div class="tab-content tab-bg">
  <br>
  <div class="tab-pane active" id="job">
    
    <div class="row row-content" style="background-color: #27b999;">
      <div class="form-group col-xs-7" style="padding-left: 15px; padding-top: 20px; padding-bottom: 10px;">
          <label for="orginalPrice" class="control-label col-xs-2">Action</label>
          <div class="col-xs-8">
              <input type="text" class="form-control" id="orginalPrice">
          </div>
      </div>
    </div>
    
   <%= form_for(@client, class: 'form-horizontal') do |f| %>
      <%= render(partial: 'clients/client_field', locals: {f: f}) %>

      <%= f.fields_for :user do |l| %>
        <%= l.hidden_field :client_id, value: @client.id %>
      <%= l.hidden_field :role, value: 'client' %>
        <%= render 'shared/user_field', f: l %>
      <% end %>

      <%= f.fields_for :locations do |l| %>
        <%= render 'clients/location_field', f: l %>
      <% end %>

      <%= f.fields_for :site_contacts do |s| %>
        <%= render 'clients/site_contact_field', f: s %>
      <% end %>

      <%= f.fields_for :client_reps do |r| %>
        <%= render 'clients/client_rep_field', f: r %>
      <% end %>

      <div style="margin-left: 10px;"><%= f.submit "Save", class: "btn lg-button" %></div>

      <%= f.fields_for :jobs do |j| %>
        <%= render 'clients/job_field', f: j %>
        <%= j.fields_for :sale_order do |so| %>
          <%= render(partial: 'sale_orders/sale_order_field', locals: {j: so}) %>
        <% end %>
      <% end %>
    <% end %> <br>


    <!-- Schedule form -->
    <%= form_for(@tech_job, class: 'form_horizontal') do |f| %>
      <%= render 'tech_jobs/tech_job_field', f: f %>
    <% end %>

    <div class="separetor"></div>

    <%= form_for(@note, class: 'form_horizontal') do |f| %>
      <%= render 'notes/note_field', f: f %>
    <% end %>
    
    <br>

    
    <div class="separetor"></div>
  </div>

  <div class="tab-pane" id="document">
    <h2>No job is created  </h2>
  </div>
  <div class="tab-pane" id="image">
    <h2>No job is created  </h2>
  </div>
  <div class="tab-pane" id="signed">
    <h2>No job is created  </h2>  
  </div>
</div>