<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">Login Information</div>
</div>
<div class="separetor"></div><br>

<div id="location" class="row row-content">
	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :email, class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :email, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :password, class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.password_field :password, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :password_confirmation, 'Confirm', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.password_field :password_confirmation, class: 'form-control' %>
		    </div>
		</div><br>
	</div>
</div>
