
<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">SALES ORDER</div>
</div>
<div class="separetor"></div><br>


<div id="client" class="row row-content">
	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= j.label :sales_order, 'Sales Order #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= j.text_field :sales_order, class: 'form-control' %>
		    </div>
		</div><br>
	</div>

	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= j.label :purchase_order, 'Purchase Order #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= j.text_field :purchase_order, class: 'form-control' %>
		    </div>
		</div><br>
	</div>

<h3>ESTIMATE</h3>

	<div class='col-xs-4'>
		<div class='form-group'>
		    <%= j.label :item, 'Item', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= j.text_field :item, class: 'form-control' %>
		    </div>
		</div><br>
	</div>

	<div class='col-xs-4'>
		<div class='form-group'>
		    <%= j.label :quantity, 'quantity', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= j.text_field :quantity, class: 'form-control' %>
		    </div>
		</div><br>
	</div>

	<div class='col-xs-4'>
		<div class='form-group'>
		    <%= j.label :price, 'Price', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= j.text_field :price, class: 'form-control' %>
		    </div>
		</div><br>
	</div>
</div>

<div style="margin-left: 10px;"><%= j.submit "Save", class: "btn lg-button" %></div>
