<!-- Client Rep details -->
<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">CLIENT REP</div>
</div>
<div class="separetor"></div><br>

<%= f.hidden_field :client_id, value: @client.id %>

<div id="rep" class="row row-content">
	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :name, 'Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :contact, 'Contact', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :contact, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :office, 'Office #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :office, class: 'form-control' %>
		    </div>
		</div><br>

	</div>

	<div class='col-xs-6'>

		<div class='form-group'>
		    <%= f.label :cell, 'Cell #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :cell, class: 'form-control' %>
		    </div>
		</div><br>
		
		<div class='form-group'>
		    <%= f.label :email, 'Email', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :email, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :position, 'Position', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :position, class: 'form-control' %>
		    </div>
		</div><br>
	</div>
</div>


