<tr>
	<td><%= client.name %></td>
	<td><%= client.city %></td>
	<td>Main</td>
	<td><%= render client.locations %></td>
	<td><%= client.user.email %></td>

	<% client.jobs.each do |job| %>
		<% if job.status == 'open' %>
			<td><%= client.jobs.count %></td>		
		<% end %>
	<% end %>
	<td></td>
</tr>
