<%= render 'shared/error_messages', object: f.object %>
<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">Client</div>

	<div class="pull-right">
		<div style="margin-left: 10px;"><%= f.submit "Update Client", class: "btn lg-button" %></div>
	</div>
</div>
<div class="separetor"></div><br>

<div id="client" class="row row-content">
	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :name, 'Name', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :name, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :phone, 'Phone #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :phone, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :fax, 'Fax #', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :fax, class: 'form-control' %>
		    </div>
		</div><br>

		<div class='form-group'>
		    <%= f.label :url, 'URL', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :url, class: 'form-control' %>
		    </div>
		</div><br>
	</div>

	<div class='col-xs-6'>
		<div class='form-group'>
		    <%= f.label :address, 'Address', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_area :address, rows: 7, cols: 100,  class: 'form-control' %>
		    </div>
		</div>
		<div class='form-group'>
		    <%= f.label :city, 'City', class: 'control-label col-xs-3' %>
		    <div class="col-xs-8">
		    	<%= f.text_field :city, class: 'form-control' %>
		    </div>
		</div><br>
	</div>
</div>
