<div class="row row-content" style="padding-bottom: 7px;">
	<div class="pull-right">
		<%= link_to 'Add Client', new_client_path, class: 'btn lg-button' %>
	</div>
</div>
<div class="row lg-bg-white">
	<table class="table">
		<tr>
			<th>CLIENT</th>
			<th>CITY/STATE</th>
			<th>MAIN</th>
			<th>CONTACT</th>
			<th>EMAIL</th>
			<th>OPEN JOBS</th>
			<th>RECEIVABLES</th>
		</tr>
		<%= render @clients %>
	</table>


</div>