<div class="row lg-bg-white">
	<%= form_for(@client, class: 'form-horizontal') do |f| %>
	  <%= render(partial: 'client_field', locals: {f: f}) %>

	  <%= f.fields_for :user do |l| %>
	  	<%= l.hidden_field :client_id, value: @client.id %>
		<%= l.hidden_field :role, value: 'client' %>
	  	<%= render 'shared/user_field', f: l %>
	  <% end %>

	  <%= f.fields_for :locations do |l| %>
	  	<%= render 'location_field', f: l %>
	  <% end %>

	  <%= f.fields_for :site_contacts do |s| %>
	  	<%= render 'site_contact_field', f: s %>
	  <% end %>

	  <%= f.fields_for :client_reps do |r| %>
	  	<%= render 'client_rep_field', f: r %>
	  <% end %>

	  <%= f.fields_for :jobs do |j| %>
	  	<%= render 'job_field', f: j %>
	  <% end %>

	  <div style="margin-left: 10px;"><%= f.submit "Save", class: "btn lg-button" %></div>
	<% end %> 	
	<br>
</div>