
<div class="row" style="margin-left: 10px; margin-right: 10px;">
	<div class="pull-left" style="font-size: 24px; font-weight: 5px; padding-bottom: 10px;">SCHEDULING</div>
</div>


<div class="row row-content" style="color: #000; margint-top: 10px;">
	<%= f.hidden_field :job_id, value: @job.id %>
	<div>
		<div class='col-xs-6'>
			<div class='form-group2'>
				<%= f.label :tech_id, 'Technician', class: 'control-label col-xs-2' %>
				<div class="col-xs-8">
					<%= f.collection_select(:tech_id, Tech.order(:first_name), :id, :first_name, includel_blank: true) %>
				</div>
			</div>
		</div>
		

		<div class="col-xs-5">
			<%= f.submit 'Add Tech', class: 'btn sm-button' %>
		</div>
	</div>

	<div class="col-xs-6"  style="margin-top: 30px">
		<div class='form-group2'>
			<%= f.label :start_date, 'Start Date', class: 'control-label col-xs-2' %>
			<div class="col-xs-4">
				<%= f.date_field :start_date, class: 'form-controller' %>
			</div>
		</div>

		<div class='form-group2'>
			<%= f.label :start_time, 'Start Time', class: 'control-label col-xs-2' %>
			<div class="col-xs-4">
				<%= f.time_select :start_time, class: 'form-controller' %>
			</div>
		</div>
	</div>

	<div class="col-xs-6"  style="margin-top: 30px; clear: both;">
		<div class='form-group2'>
			<%= f.label :end_date, 'End Date', class: 'control-label col-xs-2' %>
			<div class="col-xs-4">
				<%= f.date_field :end_date, class: 'form-controller' %>
			</div>
		</div>

		<div class='form-group2'>
			<%= f.label :end_time, 'End Time', class: 'control-label col-xs-2' %>
			<div class="col-xs-4">
				<%= f.time_select :end_time, class: 'form-controller' %>
			</div>
		</div>
	</div>

	<div class="col-xs-6"  style="margin-top: 30px; clear: both;">
		<div class='form-group'>
			<%= f.check_box :disable_start, as: :boolean, checked_value: true, unchecked_value: false %> Due By / Technician to determine service scheduleonly
		</div>

		<div class='form-group'>
			<%= f.check_box :work_status, as: :boolean, checked_value: true, unchecked_value: false %> Service to be performed on scheduled date.
		</div>
	</div>
	
</div>