body{
	background-color: #2d3e50;
}

.f-color{
	color: #ffffff;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*position: relative;*/
    /*min-height: 1px;*/
    padding-left: 0px;
    padding-right: 5px;
}

.menu-blog{
	background-color: #2e89c4;
	height: 120px;
}

.add-menu-blog{
	background-color: #ed1c24;
	height: 120px;
}

.white-bg{
	background-color: #ffffff;
	height: 240px;
	color: #ffffff;
}

.green-bg{
	background-color: #27b999;
	height: 240px;
}

.green-add{
	background-color: #27b999;
	height: 245px;
}

.d-separetor{
	height: 1px;
	background-color: #ed1c24;
}

.white-link a{
	color: #ffffff;
}

.s-menu-blog{
	float: left;
	padding-right: 5px;
	height: 120px;
	width: 11.11%;
}

.job-tab{
	width: 25%;
	background-color: #939598;
	/*height: 80px;*/
}

.tab-bg{
	background-color: #ffffff;
	color: #000000;
}

.tab-pane{
	margin-left: 10px;
}

.tt{
	background-color: #ffffff;
	border: 0 #ffffff;
}

.form-group{
	padding-bottom: 10px;
}

.separetor{
	height: 1px;
	background-color: #000000;
	margin-right: 10px;
}

.row-content{
	margin-left: 10px;
	margin-right: 10px;
}

.lg-bg-white{
	margin-left: 1px;
	margin-right: 7px;
	background-color: #ffffff;
	margin-bottom: 4px;
	color: #000;
	height: 100%;
}

.lg-button{
	background-color: #27b999;
	width: 200px;
	height: 40px;
	font-size: 18px;
	color: #000;
}

.sm-button{
	background-color: #27b999;
	width: 100px;
	height: 40px;
	font-size: 18px;
	color: #000;
}

.alert .alert_error{
	color: red;
}

.start_date{
	border: 0;
	border-style: 0;
	border-color: #2d3e50;
	background-color: #2d3e50;
}

.w-30{
	width: 30%;
	float: left;
}

.w-25{
	width: 25%;
	float: left;
}

.w-26{
	width: 26%;
	float: left;
}

.w-15{
	width: 15%;
	float: left;
}

.w-10{
	width: 10%;
	float: left;
}

.w-8{
	width: 8%;
	float: left;
}

#tech_job_tech_id{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: white;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}