<!DOCTYPE html>
<html>
<head>
  <title>Selectcom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container f-color">
		<div class="row">
			<div class="pull-right white-link">
				<% if signed_in? %>
					<a href="#">Setting </a>|
					<%= link_to "Sign out", signout_path, method: "delete" %>
				<% else %>
					<%= link_to 'Sign In', signin_path %>
				<% end %>
			</div>
		</div>

		<div class="row">
			
			<div style="float:left; margin-left: -13px;"><%= image_tag("selectcom.png", :alt => "") %></div>
			<div style="float: left; margin-left: 20px; margin-top: 28px; font-size: 18px; color: #d1d1d1;">
				Username: right clasification
			</div>
			<div class="pull-right" style="margin-top: 28px; font-size: 18px; color: #d1d1d1;">0/23/2014 10.45am</div>
		</div>

		<div class="row">
			<div class="col-lg-9 col-sm-9 col-xs-12">
				<div class="row">
					<div class="col-sm-4 col-xs-4">
						<%= link_to(jobs_path, id: "#myModal") do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin-top: 42px;"><%= image_tag("job.png", :alt => "") %></div>
								<div class="pull-right" style="margin-top: 90px; font-size: 20px; color: #ffffff;">JOBS</div>
							</div>
						<% end %>
					</div>
	
					<div class="col-sm-4 col-xs-4">
						<div class="menu-blog">
							<div class="pull-left" style="margin-top: 42px;"><%= image_tag("calendar.png", :alt => "") %></div>
							<div class="pull-right" style="margin-top: 90px; font-size: 20px;">CALENDERS</div>
						</div>
					</div>
	
					<div class="col-sm-4 col-xs-4">
						<div class="menu-blog">
							<div class="pull-left" style="margin-top: 42px;"><%= image_tag("fleet.png", :alt => "") %></div>
							<div class="pull-right" style="margin-top: 90px; font-size: 20px;">FLEET</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-top: 5px;">
					<div class="col-sm-4 col-xs-4">
						<%= link_to(clients_path) do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin-top: 42px;"><%= image_tag("client.png", :alt => "") %></div>
								<div class="pull-right" style="margin-top: 90px; font-size: 20px; color: #ffffff;">CLIENTS</div>
							</div>
						<% end %>
					</div>
	
					<div class="col-sm-4 col-xs-4">
						<%= link_to(teches_path) do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin-top: 42px;"><%= image_tag("tech.png", :alt => "") %></div>
								<div class="pull-right" style="margin-top: 90px; font-size: 20px; color: #ffffff;">TECHS</div>
							</div>
						<% end %>
					</div>
	
					<div class="col-sm-4 col-xs-4">
						<div class="menu-blog">
							<div class="pull-left" style="margin-top: 35px;"><%= image_tag("report.png", :alt => "") %></div>
							<div class="pull-right" style="margin-top: 90px; font-size: 20px;">REPORTS</div>
						</div>
					</div>
				</div>

				<%= yield %>
			</div>

			<div class="col-lg-3 col-sm-3">
				<div class="row green-add" style="margin-left: 15px;">
					<div style="margin: 55px 90px 55px;"><%= image_tag("addjob.png", :alt => "") %></div>	
					<div style="font-size: 20px;">ADD NEW JOB</div>
				</div>

				<div class="row" style="margin-left: 15px; margin-top: 5px;">
					<div style="color: #ed1c24; font-size: 18px;">Alters</div>
					<div>
						<p>20/6/2013   9.30am</p>
						<p>Job 8556456 was completed by Tech D.Capistan</p>
					</div>
					<div class="d-separetor"></div>
					<div>
						<p>20/6/2013   9.30am</p>
						<p>Job 8556456 was completed by Tech D.Capistan</p>
					</div>
					<div class="d-separetor"></div>
					<div>
						<p>20/6/2013   9.30am</p>
						<p>Job 8556456 was completed by Tech D.Capistan</p>
					</div>
					<div class="d-separetor"></div>
					<div>
						<p>20/6/2013   9.30am</p>
						<p>Job 8556456 was completed by Tech D.Capistan</p>
					</div>
					<div class="d-separetor"></div>
					<div>
						<p>20/6/2013   9.30am</p>
						<p>Job 8556456 was completed by Tech D.Capistan</p>
					</div>
				</div>

				<div class="row" style="margin-left: 15px; ">
					
				</div>
			</div>
		</div>

	</div><br>
</body>
</html>
