<!DOCTYPE html>
<html>
<head>
  <title>Selectcom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container f-color">
		<div class="row">
			<div class="pull-right white-link">
				<% if signed_in? %>
					<a href="#">Setting </a>|
					<%= link_to 'Sign Out', signout_path, method: 'delete' %>
				<% else %>
					<%= link_to 'Sign In', signin_path %>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div style="float:left; margin-left: -13px;"><%= image_tag('selectcom.png', alt: '') %></div>
			<div style="float: left; margin-left: 20px; margin-top: 28px; font-size: 18px; color: #d1d1d1;">
				Username: right clasification
			</div>
			<div class="pull-right" style="margin-top: 28px; font-size: 18px; color: #d1d1d1;">0/23/2014 10.45am</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="s-menu-blog">
						<%= link_to(jobs_path) do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin: 10px 10px 10px;">
									<%= image_tag("job.png", :alt => "") %>
									<p style="text-align: center; color: #ffffff;">JOBS</p>
								</div>
							</div>
						<% end %>
					</div>
	
					<div class="s-menu-blog">
						<div class="menu-blog">
							<div class="pull-left" style="margin: 10px 10px 10px;">
								<%= image_tag("calendar.png", :alt => "") %>
								<p style="text-align: center">CALENDERS</p>
							</div>
							
						</div>
					</div>
	
					<div class="s-menu-blog">
						<div class="menu-blog">
							<div class="pull-left" style="margin: 10px 10px 10px;">
								<%= image_tag("fleet.png", :alt => "") %>
								<p style="text-align: center">FLEET</p>
							</div>
							
						</div>
					</div>

					<div class="s-menu-blog">
						<%= link_to(clients_path) do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin: 10px 10px 10px;">
									<%= image_tag("client.png", :alt => "") %>
									<p style="text-align: center; color: #ffffff;">CLIENTS</p>
								</div>
								
							</div>
						<% end %>
					</div>

					<div class="s-menu-blog">
						<%= link_to(teches_path) do %>
							<div class="menu-blog">
								<div class="pull-left" style="margin: 10px 10px 10px;">
									<%= image_tag("tech.png", :alt => "") %>
									<p style="text-align: center; color: #ffffff;">THECHS</p>
								</div>
							</div>
						<% end %>
					</div>

					<div class="s-menu-blog">
						<div class="menu-blog">
							<div class="pull-left" style="margin: 10px 10px 10px;">
								<%= image_tag("report.png", :alt => "") %>
								<p style="text-align: center">REPORTS</p>
							</div>
						</div>
					</div>

					<div class="s-menu-blog">
						<div class="menu-blog">
							<div class="pull-left" style="margin: 10px 10px 10px;">
								<%= image_tag("setting.png", :alt => "") %>
								<p style="text-align: center">SETTINGS</p>
							</div>
						</div>
					</div>

					<div class="s-menu-blog">
						<div class="menu-blog">
							<div class="pull-left" style="margin: 10px 10px 10px;">
								<%= image_tag("home.png", :alt => "") %>
								<p style="text-align: center">HOME</p>
							</div>
						</div>
					</div>

					<div class="s-menu-blog">
						<%= link_to(new_job_path) do %>
							<div class="add-menu-blog">
								<div class="pull-left" style="margin: 10px 10px 10px;">
									<%= image_tag("s-addjob.png", :alt => "") %>
									<p style="text-align: center">ADD JOB</p>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				
				<div class="row" style="margin-top: 5px;">
					<% flash.each do |key, value| %>
						<%= content_tag(:div, value, class: "alert alert-#{key}") %>
					<% end %>
					
					<%= yield %>
				</div>
			</div>

		</div>
	</div><br>


</body>
</html>
