<!DOCTYPE html>
<html>
<head>
  <title>Selectcom</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container f-color" style="color: #000;">
	<div class="col-sm-4 col-sm-offset-3">
		<div style="float:left;"><%= image_tag('selectcom.png', alt: '') %></div>
		<div class="pull-right" style="margin-top: 28px; font-size: 18px; color: #d1d1d1;">0/23/2014 10.45am</div>
	</div>

	<div class="col-sm-4 col-sm-offset-3 well">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
		
		<%= yield %>
	</div>
</div><br>
</body>
</html>
